.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/test/**
.github/**

.all-contributorsrc
CHANGELOG.md
package.release.config.js
publish.release.config.js