.vscode/**
.vscode-test/**
.github/**
src/**
out/**


**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.gitignore
.yarnrc
.prettierignore
.vscode-test.mjs
CHANGELOG.md
package.release.config.js
publish.release.config.js